Question No.1

In [16]:
def linearM(l1,l2):
  l1.extend(l2)
  return sorted(l1)

list1=[4,9,10,11]
list2=[5,6,7,8,12]
ans=linearM(list1,list2)
print(ans)

[4, 5, 6, 7, 8, 9, 10, 11, 12]

Question No.2

In [18]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
ans={e:defaults for e in employees}
print(ans)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

Question No.3

In [25]:
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}

keysToRemove = ["name", "salary"]
ans={k:sampleDict[k] for k in sampleDict if k not in keysToRemove}
print(ans)

{'age': 25, 'city': 'New york'}

Question No.4

In [27]:
x=set([1,2,3,3,8,6])
y=set([2,8,9,6,5,4])
ans=x-y
print(ans)

{1, 3}

Question No.5

In [28]:
def excephandle(a1,a2):
  try:
     return a1/a2

  except ZeroDivisionError:
    return f"Division by zero is not allowed"

ans=excephandle(2,0)
print(ans)

Division by zero is not allowed